{% extends layout %}

{% block content %}
<h2>Aportaciones de {{ asociado.nombre_as }} {{ asociado.apellidos_as }}</h2>

<button class="btn btn-costum" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Nuevo Movimiento</button>
<a href="{{ url_for('detalle_asociado', id_as=asociado.id_as) }}" class="btn btn-secondary mt-3">Detalle del Asociado</a>
<a href="{{ url_for('search', query=asociado.nombre_as) }}" class="btn btn-costum mt-3">Volver a la búsqueda</a>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Añadir o retirar aportacion</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="{{ url_for('agregar_aportacion', id_as=asociado.id_as) }}" method="post">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="ingreso" name="ingreso">
            <label class="form-check-label" for="ingreso">Ingreso</label>
        </div>
          <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="egreso" name="egreso">
              <label class="form-check-label" for="egreso">Egreso</label>
            </div>
        <div class="mb-3">
            <label for="monto" class="form-label">Monto</label>
            <input type="number" class="form-control" id="monto" name="monto" required>
        </div>
        <div class="mb-3">
            <label for="forma_pago" class="form-label">Forma de pago:</label>
            <select class="form-select" id="forma_pago" name="forma_pago" required>
                <option value="Efectivo">Efectivo</option>
                <option value="Transferencia">Transferencia</option>
                <option value="Cheque">Cheque</option>
            </select>
         </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required {% if not current_user.is_admin %}disabled{% endif %} >
        </div>
        <div class="mb-3">
            <label for="comentario" class="form-label">Comentario</label>
            <input for="comentario" class="form-control" name="comentario">
        </div>
        <button type="submit" class="btn btn-costum">Guardar</button>
    </form>
  </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Ingreso</th>
            <th scope="col">Egreso</th>
            <th scope="col">Saldo restante</th>
            <th scope="col">Comentario</th>
        </tr>
        {% if transaccionesAportaciones %}
            {% for TransaccionAportaciones in transaccionesAportaciones %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ TransaccionAportaciones.fecha }}</td>
                    <td>{{ TransaccionAportaciones.ingreso }}</td>
                    <td>{{ TransaccionAportaciones.egreso }}</td>
                    <td>{{ TransaccionAportaciones.saldo_restante }}</td>
                    <td>{{ TransaccionAportaciones.comentario }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No hay aportaciones registradas</td>
            </tr>
    {% endif %}
</table>
<script>
    const today = new Date();
    const formatteddate = `${today.getFullYear()}-${(today.getMonth() + 1).toString().padStart(2, '0')}-${today.getDate().toString().padStart(2, '0')}`;
    document.getElementById('fecha').value = formatteddate;
</script>
{% endblock %}
