<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Rentas Multiples S.A. de C.V.</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (Incluye Popper.js para componentes interactivos como Offcanvas) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <style>
        .navbar-custom {
            background-color: #2f4f4f;
            color: white;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: white;
        }
        .navbar-custom .nav-link:hover {
            color: #ccc;
        }
        .btn-costum {
            background-color: #2f4f4f;
            color: white;
        }
        footer {
            color: #ffffff;
        }
    </style>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <a href="/home" class="navbar-brand">Rentas Multiples S.A. de C.V.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--<li><a href="{{ url_for('login') }}">Login</a></li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Agregar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('agregar_cliente') }}">Agregar cliente</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="{{ url_for('search') }}" method="GET">
                    <input type="text" name="query" class="form-control me-2" placeholder="Buscar" aria-label="Buscar">
                    <button type="submit" class="btn btn-outline-light">Buscar</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="bi bi-person-circle"></i> {{ current_user.nombre }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('profile') }}" class="nav-link"><i class="bi bi-person"></i> Profile</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Rentas Multiples S.A. de C.V.</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
